<?php

return array(
    'theme_manager' => array(
        'theme'             => 'your-theme-name', // Name of theme to use  (default is empty)
        'theme_default'     => 'default',         // Name of default theme (default is default)
        'theme_paths'       => array(),           // Paths to dir or dirs where are themes situated (default is empty)
        'use_default_theme' => false,             // Can use default theme if set theme is not found? (default is true)
    )
);